@{
    Layout = "_PluginView";
}

@section Links {
    <link type="text/css" rel="stylesheet" href="~/TestPluginWeb/wwwroot/css/style.css" />
    <script defer src="~/TestPluginWeb/wwwroot/js/IndexScript.js"></script>
}
<div id="MainContainer">

    <div class="HeadSection">
        <div class="TestBlock">
            <h3>Hello from Test Plugin</h3>
        </div>
        <div class="TestBlock">
            <input type="button" id="TestAjaxButton" value="Test Ajax" />
            <div id="TestAjaxOutput"></div>
        </div>
    </div>
    <div class="TestSection">
        <div id="CircleContainer">
            <div id="Circle">

            </div>
        </div>
    </div>
    <div class="TestControlSection">
        <div class="TestBlock">
            <input type="button" id="MoveCircle" value="Test Command" />
            <input type="number" id="InputX" />
            <input type="number" id="InputY" />
            <div id="CircleCoordinates"></div>
        </div>
        <div class="TestBlock">
            <input type="button" id="RunAction" value="Run Action" />
            <select id="ActionSelector"></select>
            <input type="checkbox" id="CircleMoveRecording" />
            <div id="ActionOutput"></div>
        </div>
        <div class="TestBlock">
            <input type="button" id="TestScript" value="Test Script" />
            <input type="text" id="ScriptInput" />
            <div id="ScriptOutput"></div>
        </div>
    </div>
    <script scr="~/TestPluginWeb/wwwroot/js/IndexScript.js"></script>
</div>
