@{
    Layout = "_PluginView";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/TestPluginWeb/wwwroot/css/style.css" />
}

<div id="MainContainer">

    <div class="TestBlock">
        <h3>Hello from Test Plugin</h3>
    </div>

    <div class="TestBlock">
        <input type="button" id="TestAjaxButton" value="Test Ajax" />
        <div id="TestAjaxOutput"></div>
    </div>
    <div class="TestBlock">
        <input type="button" id="TestSignalRButton" value="Test SignalR" />
        <input type="text" id="TestSignalRInput" />
        <div id="TestSignalROutput"></div>
    </div>

    <script type="text/javascript">

        var ajaxbtn = document.getElementById("TestAjaxButton");
        var ajaxOutput = document.getElementById("TestAjaxOutput");

        ajaxbtn.onclick = async function () {

            const response = await fetch("/Test/api/TestAjax", {
                method: "GET",
                headers: { "Accept": "application/json" }
            });

            if (response.ok === true) {
                ajaxOutput.innerHTML = await response.json();
            }
        }

        var signalRbtn = document.getElementById("TestSignalRButton");
        var signalRinput = document.getElementById("TestSignalRInput");
        var signalRoutput = document.getElementById("TestSignalROutput");

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/TestNotification")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.on("Send", message => {
            signalRoutput.innerHTML = message;
        });

        connection.start()

        signalRbtn.onclick = async function () {

            connection.invoke("SendTest", signalRinput.value);
        };

    </script>
</div>
