@{
    Layout = "_PluginView";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/TestPluginWebUI/wwwroot/css/style.css" />
}

<div id="MainContainer">

    <h3>Hello from Test Plugin</h3>

    <input type="button" id="TestButton" value="Test Ajax"/>
    <div id="TestOutput"></div>

    <script type="text/javascript">

        var btn = document.getElementById("TestButton");
        var out = document.getElementById("TestOutput");

        btn.onclick = async function test() {

            const response = await fetch("/Test/api/TestAjax", {
                method: "GET",
                headers: { "Accept": "application/json" }
            });

            if (response.ok === true) {
                out.innerHTML = await response.json();
            }
        }
        
    </script>
</div>
