@{
    Layout = "_PluginView";
}
@section Links{
    <link type="text/css" rel="stylesheet" href="~/YiiColorBulbWeb/wwwroot/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr/dist/browser/signalr.min.js"></script>
}

<div id="MainContainer">

    <div class="TestBlock">
        <h3>Hello from ColorBulb</h3>
    </div>

    <div class="TestBlock">
        <input type="button" id="TestAjaxButton" value="Test Ajax" />
        <div id="TestAjaxOutput"></div>
    </div>
    <div class="TestBlock">
        <input type="button" id="TestSignalRButton" value="Test SignalR" />
        <div id="TestSignalROutput"></div>
    </div>

    <script type="text/javascript">

        var ajaxbtn = document.getElementById("TestAjaxButton");
        var ajaxout = document.getElementById("TestAjaxOutput");

        ajaxbtn.onclick = async function () {

            const response = await fetch("/Test/api/TestAjax", {
                method: "GET",
                headers: { "Accept": "application/json" }
            });

            if (response.ok === true) {
                ajaxout.innerHTML = await response.json();
            }
        }

        var signalRbtn = document.getElementById("TestSignalRButton");
        var signalRout = document.getElementById("TestSignalROutput");

        signalRbtn.onclick = async function () {

            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/YiiColorBulbNotification")
                .configureLogging(signalR.LogLevel.Information)
                .build();

            try {
                await connection.start();
                signalRout.innerHTML = "SignalR Connected.";
            } catch (err) {
                signalRout.innerHTML = err;
                setTimeout(start, 5000);
            }
            connection.onclose(start);

            start();
        };

    </script>
</div>