#HostLayoutHeader {
    position: relative;
    height: 60px;
    width: auto;
    line-height: 50px;
    display: flex;
    justify-content: center;
    background-color: azure;
    font-size: 40px;
}
#HostNavigationBar {
    margin: 0 10%;
    height: 30px;
    display: flex;
    background-color: floralwhite;
}
.HostPluginNavButton {
    width: auto;
    margin: 0 10px;
}
.HostPluginNavButton a {
    line-height: 30px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
#MainHostContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
