@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using HostWeb.Interfaces
@inject IPluginRepository pluginRepository
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/css/ResetDefaultCss.css" />
    <link type="text/css" rel="stylesheet" href="~/css/Style.css" />
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    @RenderSection("Links", false)

</head>
<body>
    <header id="HostLayoutHeader">
        <h1>Smart control center</h1>
    </header>
    <main>
        <nav id="HostOptionsBar">
            <a asp-action="Main" asp-controller="Home">Main</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
        <div id="MainHostContainer">
            @RenderBody()
        </div>
        <nav id="PluginNavigationBar">
            @foreach (var pluginName in pluginRepository.GetPluginNames())
            {
                <div class="PluginNavButton">
                    <a asp-action="Index" asp-controller="@pluginName">@pluginName</a>
                </div>
            }
        </nav>
    </main>
</body>
</html>