
@{
    Layout = "_PluginView";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/IndexStyle.css" />
}
<div id="HostHomeWelcomePage">
    <div>
        <h2>Hello from Host!</h2>
    </div>
</div>
